:root {
    --bg: #373F51;
    --text: #D8DBE2;
    --highlight-text: #58A4B0;
    --std: all 200ms ease-in-out;
}
#body-home,
#body-cv,
#body-projects {
    transition: var(--std);
    background-color: var(--bg);
    color: var(--text);
    margin-left: 4rem;
    margin-right: 4rem;
}
#body-home {
    height: 100vh;
    display: grid;
    grid-template-rows: 8rem 1fr;
}
a {
    text-decoration: none;
}
#nav-links > a:not(:last-child) {
    color: var(--text);
}
nav {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
}
#logo {
    width: 20rem;
    height: 80%;
    border: 2px solid red;
}
#nav-links {
    width: 75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    height: 100%;
}
.num {
    color: var(--highlight-text);
}
#cv {
    width: 6rem;
    color: var(--highlight-text);
    border: 2px solid var(--highlight-text);
    border-radius: 6px;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--std);
}
#cv:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
#home-content {
    display: grid;
    grid-template-columns: 40rem 65rem 1fr;
    grid-template-rows: 18rem 4rem 8rem 8rem 18rem;
    grid-gap: 1rem;
    align-items: center;
}
#intro {
    grid-column: 2;
    grid-row: 2;
    color: var(--highlight-text);
    font-size: 2.4rem;
}
#home-content > #name {
    grid-column: 2;
    grid-row: 3;
    font-size: 9.6rem;
}
#statement {
    grid-column: 2;
    grid-row: 4;
    font-size: 6.4rem;
    opacity: 75%;
}
#bio {
    grid-column: 2;
    grid-row: 5;
    font-size: 2.4rem;
    opacity: 75%;
}
#cv-content {
    margin-top: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 30rem 1fr 30rem;
    grid-template-rows: 20rem 20rem 72rem 1fr 1fr;
    gap: 5rem;
    font-size: 2rem;
    line-height: 2;
}
#cv-header {
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    line-height: normal;
}
#info > #name {
    font-size: 3.2rem;
    font-weight: bold;
}
#info > p:not(:first-child) {
    font-size: 2rem;
}
#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
#email-links {
    display: flex;
    flex-direction: column;
    gap: inherit;
}
#email-links > a {
    color: var(--highlight-text);
    display: flex;
    align-items: center;
}
.mail {
    margin-right: 5px;
}
#software-skills {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
#autoscroll-wrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: absolute;
    /* transform: translateX(-10rem); */
}
i {
    font-size: 8rem;
}
#education {
    grid-column: 2;
    grid-row: 3;
}
#projects {
    grid-column: 2;
    grid-row: 4;
}
#work-experience {
    grid-column: 2;
    grid-row: 5;
}
.left-right {
    display: flex;
    justify-content: space-between;
}
#projects-content {
    padding: 5rem 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16rem;
    grid-template-rows: 1fr 1fr;
    row-gap: 5rem;
}
.card {
    font-size: 2rem;
    color: black;
    background-color: var(--text);
    transition: var(--std);
    box-shadow: -1px 4px 16px rgba(89, 165, 177, 0.45);
    border-radius: 1rem;
    padding: 2rem;
}
.card:hover {
    box-shadow: -1px 2px 8px rgba(89, 165, 177, 0.65);
}
.card > img {
    height: 25rem;
}