:root {
    --bg: #373F51;
    --text: #D8DBE2;
    --highlight-text: #58A4B0;
    --std: all 200ms ease-in-out;
}
#body-home,
#body-cv {
    transition: var(--std);
    background-color: var(--bg);
    color: var(--text);
    margin-left: 4rem;
    margin-right: 4rem;
}
#body-home {
    height: 100vh;
    display: grid;
    grid-template-rows: 8rem 1fr;
}
a {
    text-decoration: none;
}
#nav-links > a:not(:last-child) {
    color: var(--text);
}
nav {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
}
#logo {
    width: 20rem;
    height: 80%;
    border: 2px solid red;
}
#nav-links {
    width: 75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    height: 100%;
}
.num {
    color: var(--highlight-text);
}
#cv {
    width: 6rem;
    color: var(--highlight-text);
    border: 2px solid var(--highlight-text);
    border-radius: 6px;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--std);
}
#cv:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
#home-content {
    display: grid;
    grid-template-columns: 40rem 65rem 1fr;
    grid-template-rows: 24rem 4rem 8rem 8rem 18rem;
    grid-gap: 1rem;
    align-items: center;
}
#intro {
    grid-column: 2;
    grid-row: 2;
    color: var(--highlight-text);
    font-size: 2.4rem;
}
#home-content > #name {
    grid-column: 2;
    grid-row: 3;
    font-size: 9.6rem;
}
#statement {
    grid-column: 2;
    grid-row: 4;
    font-size: 6.4rem;
    opacity: 75%;
}
#bio {
    grid-column: 2;
    grid-row: 5;
    font-size: 2.4rem;
    opacity: 75%;
}
#cv-content {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
#cv-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#info > #name {
    font-size: 3.2rem;
    font-weight: bold;
}
#info > p:not(:first-child) {
    font-size: 2rem;
}
#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
#email-links {
    display: flex;
    flex-direction: column;
    gap: inherit;
}
#email-links > a {
    color: var(--highlight-text);
    display: flex;
    align-items: center;
}
.mail {
    margin-right: 5px;
}
#software-skills {
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    overflow: hidden;
}
i {
    font-size: 8rem;
}